In [1]:
import mysql.connector

In [2]:
db = mysql.connector.connect(host="localhost",user="root",passwd="admin",database="db")

In [3]:
if(db):
    print("YES")
else:
    print("NO")

YES

In [4]:
mycursor = db.cursor()
# mycursor.execute("Create database Pokemash4")

In [5]:
mycursor.execute("Show databases")
for x in mycursor:
    print(x)

('db',)
('information_schema',)
('mysql',)
('performance_schema',)
('poke1',)
('pokemash3',)
('pokemash4',)
('sakila',)
('sys',)
('world',)

In [6]:
# mycursor.execute("Create table tb(name varchar(200), sal int(20))")
mycursor.execute("Show tables")
for x in mycursor:
    print(x)

('student',)

In [7]:
sqlform = "Insert into student(student_id,name,major) values(%s,%s,%s)"
st = [(1,"Nitesh","CS"),(2,"Aarush","CS"),(3,"Aryan","Civil"),(4,"Mrinal","BI"),(5,"Swapnil","BT"),]

mycursor.executemany(sqlform,st)
db.commit()

In [8]:
mycursor.execute("Select * from student")
myresult = mycursor.fetchall()

for row in myresult:
    print(row)

(1, 'Nitesh', 'CS')
(2, 'Aarush', 'CS')
(3, 'Aryan', 'Civil')
(4, 'Mrinal', 'BI')
(5, 'Swapnil', 'BT')

In [11]:
sql = "UPDATE student SET major='NA' WHERE name='aarush'"
mycursor.execute(sql)
db.commit()

In [12]:
mycursor.execute("Select * from student")
myresult = mycursor.fetchall()

for row in myresult:
    print(row)

(1, 'Nitesh', 'CS')
(2, 'Aarush', 'NA')
(3, 'Aryan', 'Civil')
(4, 'Mrinal', 'BI')
(5, 'Swapnil', 'BT')

In [13]:
dele = "DELETE FROM student WHERE name='aarush'"
mycursor.execute(dele)
db.commit()

In [14]:
mycursor.execute("Select * from student")
myresult = mycursor.fetchall()

for row in myresult:
    print(row)

(1, 'Nitesh', 'CS')
(3, 'Aryan', 'Civil')
(4, 'Mrinal', 'BI')
(5, 'Swapnil', 'BT')