In [6]:
# IMPORTING LIBRARIES
from pymongo import MongoClient
import pymongo
import pandas as pd
import json
import random

# CONNECTING TO SERVER
client = MongoClient("mongodb://admin:admin@ac-n1i4lv1-shard-00-00.lycz6ch.mongodb.net:27017,ac-n1i4lv1-shard-00-01.lycz6ch.mongodb.net:27017,ac-n1i4lv1-shard-00-02.lycz6ch.mongodb.net:27017/?ssl=true&replicaSet=atlas-i5d675-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.get_database('Pokemash3')
df = pd.read_csv(r"C:\Users\tyagi\OneDrive\Desktop\Pokemash 3\Tryout\Training.csv", on_bad_lines='skip')

# ADJUSTING COLUMNS IN DATAFRAME
df.insert(0,'id',1)
df['id'] = df.index + 1
df.insert(len(df.columns),'Rating',1400)

# UPLOADING DATA TO SERVER
data = df.to_dict(orient = "records")
db.Info.insert_many(data)

In [11]:
# df
data
data = db["Info"]
for x in data.find():
    print(x)

{'_id': ObjectId('64231656a35334432793ef9b'), 'id': 1, 'Name': 'Chiron', 'Interior': 2, 'Price': 700, 'Engine': 8.0, 'Quality': 10, 'Body': 2, 'Trunk ': 1, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793ef9c'), 'id': 2, 'Name': 'Polo', 'Interior': 4, 'Price': 12, 'Engine': 1.0, 'Quality': 4, 'Body': 5, 'Trunk ': 4, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793ef9d'), 'id': 3, 'Name': 'Vento', 'Interior': 4, 'Price': 15, 'Engine': 1.0, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793ef9e'), 'id': 4, 'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793ef9f'), 'id': 5, 'Name': 'Baleno', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 4, 'Trunk ': 5, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793efa0'), 'id': 6, 'Name': 'Indigo', 'Interior': 4, 'Price': 7, 'Engine': 1.0, 'Quality': 4, 'Body': 6, 'Trunk ': 5, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793efa1'), 'id': 7, 'Name': 'City', 'Interior': 5, 'Price': 15, 'Engine': 1.2, 'Quality': 8, 'Body': 6, 'Trunk ': 7, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793efa2'), 'id': 8, 'Name': 'I20', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793efa3'), 'id': 9, 'Name': 'Creta', 'Interior': 5, 'Price': 18, 'Engine': 1.5, 'Quality': 6, 'Body': 5, 'Trunk ': 8, 'Rating': 1400}
{'_id': ObjectId('64231656a35334432793efa4'), 'id': 10, 'Name': 'Sonet', 'Interior': 5, 'Price': 16, 'Engine': 1.5, 'Quality': 6, 'Body': 5, 'Trunk ': 8, 'Rating': 1400}

In [14]:
# DECIDING NEW RATINGS BY USER INPUT
def NewRating(r1, r2, n): 
    exp = (r2-r1)/400.0 
    e1 = 1/((10.0*(exp))+1) 
    n1 = r1 + 32*(n-e1) 
    return int(n1)

import random 
n = df.shape[0] 
for _ in range(25): 
    data = db["Info"] 
    idx = random.randint(1,n) 
    idy = idx 
    
    while idx == idy: 
        idy = random.randint(1,n)

    x = data.find_one({"id": idx},{"id":0, "_id":0})
    y = data.find_one({"id": idy},{"id":0, "_id":0})

    print(x)
    print(y)
    winner = input("Winner(1/2) : ")
    RX = x["Rating"]
    RY = y["Rating"]

    if winner == "1":
        NRX = NewRating(RX,RY,1)
        NRY = NewRating(RY,RX,0)
    elif winner == "2":
        NRX = NewRating(RX,RY,0)
        NRY = NewRating(RY,RX,1)
    else:
        print("DRAW")
        print(winner+1)

    data.update_one(x,{"$set": {"Rating":NRX}})
    data.update_one(y,{"$set": {"Rating":NRY}})
    print("")

{'Name': 'Indigo', 'Interior': 4, 'Price': 7, 'Engine': 1.0, 'Quality': 4, 'Body': 6, 'Trunk ': 5, 'Rating': 1400}
{'Name': 'Vento', 'Interior': 4, 'Price': 15, 'Engine': 1.0, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1572}
Winner(1/2) : 1

{'Name': 'I20', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1293}
{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1400}
Winner(1/2) : 2

{'Name': 'City', 'Interior': 5, 'Price': 15, 'Engine': 1.2, 'Quality': 8, 'Body': 6, 'Trunk ': 7, 'Rating': 1400}
{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1451}
Winner(1/2) : 1

{'Name': 'Polo', 'Interior': 4, 'Price': 12, 'Engine': 1.0, 'Quality': 4, 'Body': 5, 'Trunk ': 4, 'Rating': 1356}
{'Name': 'Creta', 'Interior': 5, 'Price': 18, 'Engine': 1.5, 'Quality': 6, 'Body': 5, 'Trunk ': 8, 'Rating': 1400}
Winner(1/2) : 2

{'Name': 'Vento', 'Interior': 4, 'Price': 15, 'Engine': 1.0, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1581}
{'Name': 'Indigo', 'Interior': 4, 'Price': 7, 'Engine': 1.0, 'Quality': 4, 'Body': 6, 'Trunk ': 5, 'Rating': 1425}
Winner(1/2) : 1

{'Name': 'City', 'Interior': 5, 'Price': 15, 'Engine': 1.2, 'Quality': 8, 'Body': 6, 'Trunk ': 7, 'Rating': 1417}
{'Name': 'Indigo', 'Interior': 4, 'Price': 7, 'Engine': 1.0, 'Quality': 4, 'Body': 6, 'Trunk ': 5, 'Rating': 1418}
Winner(1/2) : 1

{'Name': 'City', 'Interior': 5, 'Price': 15, 'Engine': 1.2, 'Quality': 8, 'Body': 6, 'Trunk ': 7, 'Rating': 1417}
{'Name': 'I20', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1284}
Winner(1/2) : 2

{'Name': 'Polo', 'Interior': 4, 'Price': 12, 'Engine': 1.0, 'Quality': 4, 'Body': 5, 'Trunk ': 4, 'Rating': 1340}
{'Name': 'Indigo', 'Interior': 4, 'Price': 7, 'Engine': 1.0, 'Quality': 4, 'Body': 6, 'Trunk ': 5, 'Rating': 1385}
Winner(1/2) : 1

{'Name': 'Vento', 'Interior': 4, 'Price': 15, 'Engine': 1.0, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1624}
{'Name': 'Polo', 'Interior': 4, 'Price': 12, 'Engine': 1.0, 'Quality': 4, 'Body': 5, 'Trunk ': 4, 'Rating': 1356}
Winner(1/2) : 2

{'Name': 'Baleno', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 4, 'Trunk ': 5, 'Rating': 1352}
{'Name': 'Polo', 'Interior': 4, 'Price': 12, 'Engine': 1.0, 'Quality': 4, 'Body': 5, 'Trunk ': 4, 'Rating': 1383}
Winner(1/2) : 1

{'Name': 'Indigo', 'Interior': 4, 'Price': 7, 'Engine': 1.0, 'Quality': 4, 'Body': 6, 'Trunk ': 5, 'Rating': 1641}
{'Name': 'Sonet', 'Interior': 5, 'Price': 16, 'Engine': 1.5, 'Quality': 6, 'Body': 5, 'Trunk ': 8, 'Rating': 1400}
Winner(1/2) : 2

{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1567}
{'Name': 'Vento', 'Interior': 4, 'Price': 15, 'Engine': 1.0, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1629}
Winner(1/2) : 1

{'Name': 'Polo', 'Interior': 4, 'Price': 12, 'Engine': 1.0, 'Quality': 4, 'Body': 5, 'Trunk ': 4, 'Rating': 1240}
{'Name': 'Baleno', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 4, 'Trunk ': 5, 'Rating': 1365}
Winner(1/2) : 2

{'Name': 'Sonet', 'Interior': 5, 'Price': 16, 'Engine': 1.5, 'Quality': 6, 'Body': 5, 'Trunk ': 8, 'Rating': 1427}
{'Name': 'Vento', 'Interior': 4, 'Price': 15, 'Engine': 1.0, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1687}
Winner(1/2) : 1

{'Name': 'I20', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1308}
{'Name': 'Baleno', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 4, 'Trunk ': 5, 'Rating': 1412}
Winner(1/2) : 2

{'Name': 'Baleno', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 4, 'Trunk ': 5, 'Rating': 1464}
{'Name': 'Sonet', 'Interior': 5, 'Price': 16, 'Engine': 1.5, 'Quality': 6, 'Body': 5, 'Trunk ': 8, 'Rating': 1454}
Winner(1/2) : 2

{'Name': 'I20', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1299}
{'Name': 'Chiron', 'Interior': 2, 'Price': 700, 'Engine': 8.0, 'Quality': 10, 'Body': 2, 'Trunk ': 1, 'Rating': 1249}
Winner(1/2) : 2

{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1586}
{'Name': 'Baleno', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 4, 'Trunk ': 5, 'Rating': 1421}
Winner(1/2) : 1

{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1628}
{'Name': 'City', 'Interior': 5, 'Price': 15, 'Engine': 1.2, 'Quality': 8, 'Body': 6, 'Trunk ': 7, 'Rating': 1430}
Winner(1/2) : 2

{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1636}
{'Name': 'I20', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1427}
Winner(1/2) : 1

{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1675}
{'Name': 'Vento', 'Interior': 4, 'Price': 15, 'Engine': 1.0, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1692}
Winner(1/2) : 1

{'Name': 'I20', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1421}
{'Name': 'Creta', 'Interior': 5, 'Price': 18, 'Engine': 1.5, 'Quality': 6, 'Body': 5, 'Trunk ': 8, 'Rating': 1751}
Winner(1/2) : 2

{'Name': 'Indigo', 'Interior': 4, 'Price': 7, 'Engine': 1.0, 'Quality': 4, 'Body': 6, 'Trunk ': 5, 'Rating': 1647}
{'Name': 'City', 'Interior': 5, 'Price': 15, 'Engine': 1.2, 'Quality': 8, 'Body': 6, 'Trunk ': 7, 'Rating': 1456}
Winner(1/2) : 2

{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1684}
{'Name': 'I20', 'Interior': 5, 'Price': 10, 'Engine': 1.2, 'Quality': 5, 'Body': 5, 'Trunk ': 4, 'Rating': 1417}
Winner(1/2) : 1

{'Name': 'Scorpio', 'Interior': 7, 'Price': 31, 'Engine': 2.5, 'Quality': 7, 'Body': 8, 'Trunk ': 9, 'Rating': 1721}
{'Name': 'City', 'Interior': 5, 'Price': 15, 'Engine': 1.2, 'Quality': 8, 'Body': 6, 'Trunk ': 7, 'Rating': 1482}
Winner(1/2) : 2

In [15]:
# SAVING DATA TO CSV FILE
# DELETING THE USED SPACE ON SERVER
data = db["Info"]
df = pd.DataFrame(list(data.find()))
df = df.drop(df.columns[[0, 1]], axis=1)
df = df.sort_values(by=['Rating'], ascending=False)
df
df.to_csv(r"C:\Users\tyagi\OneDrive\Desktop\Pokemash 3\Tryout\Trained.csv", index=False)
db.Info.drop()

In [16]:
db.Info.drop()