In [ ]:
from pymongo import MongoClient
import pymongo
import pandas as pd
import json

In [ ]:
client = MongoClient("mongodb+srv://admin:admin@cluster0.lycz6ch.mongodb.net/?retryWrites=true&w=majority")

In [ ]:
db = client.get_database('Pokemash3')

In [ ]:
df = pd.read_csv(r"C:\Users\tyagi\OneDrive\Desktop\Pokemash 3\Tryout\testing.csv")

In [ ]:
df

In [ ]:
df.insert(0,'id',1)
df

In [ ]:
df['id'] = df.index + 1
df

In [ ]:
df.insert(len(df.columns),'rating',1400)
df

In [ ]:
data = df.to_dict(orient = "records")
data

In [ ]:
print(db)

In [ ]:
db.Info.insert_many(data)

In [ ]:
data = db["Info"]
for x in data.find():
    print(x)

In [ ]:
data = db["Info"]
x = data.find_one({"id": 1},{"id":0, "_id":0})
y = data.find_one({"id": 3},{"id":0, "_id":0})

print(x)
print(y)

In [ ]:
def NewRating(r1, r2, n):
    exp = (r2-r1)/400.0
    e1 = 1/((10.0**(exp))+1)
    n1 = r1 + 32*(n-e1)
    return int(n1)



import random
n = df.shape[0]
for _ in range(10):
    data = db["Info"]
    idx = random.randint(1,n)
    idy = idx
    while idx == idy:
        idy = random.randint(1,n)
        
    x = data.find_one({"id": idx},{"id":0, "_id":0})
    y = data.find_one({"id": idy},{"id":0, "_id":0})
    
    print(x)
    print(y)
    winner = input("Winner(1/2) : ")
    RX = x["rating"]
    RY = y["rating"]
    
    if winner == 1:
        RX = NewRating(RX,RY,1)
        RY = NewRating(RX,RY,0)
    else:
        RX = NewRating(RY,RY,0)
        RY = NewRating(RX,RY,1)
        
    data.update_one(x,{"$set": {"rating":RX}})
    data.update_one(y,{"$set": {"rating":RY}})
    print("")

In [ ]:
data = db["Info"] 
for x in data.find({},{"id":0, "_id":0}): 
    print(x)

In [ ]:
df = pd.DataFrame(list(data.find()))
df = df.drop(df.columns[[0, 1]], axis=1)

In [ ]:
df = df.sort_values(by=['rating'], ascending=False)
df

In [ ]:
df.to_csv(r"C:\Users\tyagi\OneDrive\Desktop\Pokemash 3\Tryout\trained.csv", index=False)

In [ ]:
db.Info.drop()